.App {
  padding-top: 25px;
  text-align: center;
}

.Error {
  color: red;
  font-size: 12px;
}

.Field {
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
